@{
    ViewData["Title"] = "Home Page";
}
@using AmazonStartUp.Models.ViewModels
@model BookViewModel


<div class="text-center">
    <h1 class="display-4">Amazon Book Store</h1>
</div>

<div class="row mt-3">
    <div class="col-2">
        <vc:navigation-menu />
    </div>
    <div class="col-2">

    </div>
    <div class="col-8">
        @foreach (Book b in Model.Books)
        {
            <partial name="BookSummary" model="b" />
        }
    </div>
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory"
         class="btn-group m-1"></div>
</div>